@font-face {
    font-family: HyWenHei;
    src: url(./asset/font/zh-cn.ttf);
}

* {
    font-family: 'HyWenHei', Tahoma, Geneva, Verdana, sans-serif;
    cursor: url('./asset/GIcursor.cur'), default;
    cursor: url('./asset/GIcursor.cur'), pointer !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: grey;
    background-image: url(./asset/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #f1ede9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 1;

}

a,
button {
    background-color: #393b40;
    border-radius: 5px;
    color: #ffda9f;
    border: none;
    padding: 8px 12px;
    margin: 0px 5px;
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

a:hover,
button:hover {
    color: white;
}

#user {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #ffda9f;
}

#usernamE {
    color: black;
    margin-left: 10px;
}

.avt-bg {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #393b40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 600px;
}

#post-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 100vh;
    z-index: 0;
    transition: 0.5s;
}

#post-counter {
    margin-top: 80px;
    color: white;
    width: 100%;
    text-align: center;
}

.post {
    width: 100%;
    box-sizing: border-box;
    background-color: #f1ede9;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#add-post-box {
    position: fixed;
    width: 400px;
    height: 550px;
    bottom: 0;
    right: 0;
    transform: translateX(110%);
    background-color: #f1ede9;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    transition: 0.5s;
}

#addpost {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#addpost input {
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

#addpost label {
    margin-bottom: 5px;
}

#addpost textarea {
    resize: none;
    padding: 10px;
    outline: none;
}

.uploadPost {
    margin: 10px 0px;
    padding: 10px 0px;
}

h3 {
    width: 100%;
    text-align: center;
    font-size: 130%;
    font-weight: 100;
}

#header {
    border-bottom: 1px solid grey;
    color: gray;
    font-size: 80%;
    padding-bottom: 5px;
}

#title {
    font-size: 150%;
    padding: 0;
    margin: 20px 0px;
}

#desc {
    font-size: 100%;
}

#add-post-box {
    width: 400px;
    margin: 0;
    height: 100%;
    border-radius: 0px;
    overflow: auto;
}

#post-title {
    background-color: transparent;
    border: 1px solid #393b402a;
    border-radius: 5px;
}

#charCount,
#descCount {
    color: grey;
}

/* Quill */
.ql-toolbar button {
    margin: 0;
}

.ql-editor {
    font-size: 110%;
}

#alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #f1ede9;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    /* custom */
}


#alert .alert-title {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 130%;
}

#black {
    background-color: rgba(0, 0, 0, 0.932);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    transition: 200ms;
}


@media screen and (max-width: 720px) {
    .mobile {
        display: none;
    }

    #post-box {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    #add-post-box {
        width: 100%
    }
}