@font-face {
    font-family: HyWenHei;
    src: url(./asset/font/zh-cn.ttf);
}

* {
    font-family: 'HyWenHei', Tahoma, Geneva, Verdana, sans-serif;
    cursor: url('./asset/GIcursor.cur'), default;
    cursor: url('./asset/GIcursor.cur'), pointer !important;
}

body {
    padding: 0;
    margin: 0;
    background-image: url(./asset/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: gray;
}

button {
    transition: 0.2s !important;
}

button:active {
    transform: scale(90%);
}

/* Login box */
/* Box */
#login-box,
#register-box,
#forgot-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 350px;
    color: #f1ede9;
    transition: 0.8s;
}

#login-box {
    transform: translate(-50%, -50%);
}

#title {
    text-align: center;
    font-size: 180%;
}

#signin-option {
    text-align: center;
}

#signin-option a {
    color: rgb(255, 217, 112);
    text-decoration: none;
}

/* Box */

/* Alert box */
#alert,
#alert-login {
    width: 100%;
    background-color: rgb(255, 120, 120);
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
}

#errorText,
#errorText-login {
    color: white;
    margin: 8px 0px;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 80%;
}

/* Alert box */

/* dialog */
#dialog-box {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    box-sizing: border-box;
    z-index: 1;
    transition: 0.5s ease-in-out;
    transform: translateY(0%);
}

#dialog-text {
    color: white;
    margin: 8px 0px;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 80%;
}

/* dialog */

/* Form */
.form,
#reg_form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    backdrop-filter: blur(50px);
    background-color: #f1ede9;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.555) 0px 7px 29px 0px;
}

.form input,
#reg_form input {
    padding: 10px 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid #393b4063;
    background-color: #f1ede9;
    outline: none;
    color: black;
    transition: 0.5s;
}

.form input:focus,
#reg_form input:focus {
    background-color: rgb(236, 236, 236);
}

.enter {
    margin: 10px 0px;
    padding: 15px 0px;
    font-size: 101%;
    background-color: #393b40;
    color: #ffd591;
    border: none;
    border-radius: 10px;
    transition: 0.4s;
}

#enter:hover {
    color: #d7b172;
}

#hr {
    font-size: 70%;
    text-align: center;
    color: grey;
}

#social div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#social button {
    padding: 0px;
    border: none;
    margin: 10px 5px;
    padding: 8px 20px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

#social img {
    filter: invert();
    margin-right: 10px;
}

/* Form */
/* Login box */

/* Menu */
button {
    margin: 5px 0px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.356);
    color: #f4c780;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
}

button:hover {
    color: rgb(226, 226, 226);
    cursor: pointer;
}

#info {
    transform: translateX(-350px);
    padding: 10px 10px;
    height: 500px;
    width: 100%;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    transition: 0.5s;
    overflow: scroll;
    overflow-x: hidden;
}

#back-btn {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
}

/* Menu */